*.d
*.i
*.o
*.su
*.s

# project build files
/**/image/
/**/build/

# build info
build_info.h

# toolchain
/**/toolchain/linux/
/**/toolchain/cygwin/
/**/toolchain/darwin/
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/toolchain/asdk/

# menuconfig lxdialog files
/**/lxdialog/
/**/config/*.old

# IAR
*.dep
*.ewt
/**/EWARM-RELEASE/Debug/

# flash tool
tools/AmebaD/Image_Tool_Linux/mpp.ini
tools/AmebaD/Image_Tool_Linux/*.txt
tools/AmebaD/Image_Tool_Linux/Image_All.bin

# IDE
.vscode/
